html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    overflow: hidden;
}

.body {
    display: flex;
    justify-content: space-between;

    background-image: url("assets/back.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
}

h4,
h3,
h2,
h1 {
    margin: 0;
}

/*----------------------------------------------------SOCIAL_BLOCK----------------------------------------------------*/

.social-block {
    position: absolute;
    top: 3%;
    left: 2%;
}

.social-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.social-option {
    width: 50px;
    height: 50px;
    margin-bottom: 16px;

    border: 1px white solid;
    border-radius: 50px;
}

.social-option:last-child {
    margin-bottom: 0;
}

.social-link {
    display: block;
    width: 100%;
    height: 100%;

    border-radius: 50px;
    background-repeat: no-repeat;
    background-size: 30px 30px;

}

.social-link:hover {
    background: rgba(152, 152, 152, 0.3) no-repeat;
    background-size: 30px 30px;
}

.vk-link, .vk-link:hover {
    background-image: url("/assets/socials/vk.svg");
    background-position: 50% 50%;
}

.tg-link, .tg-link:hover {
    background-image: url("/assets/socials/tg.svg");
    background-position: 50% 60%;
}

/*--------------------------------------------------END_SOCIAL_BLOCK--------------------------------------------------*/

/*---------------------------------------------------DECORATION_SIDE---------------------------------------------------*/

.decoration-side {
    height: 100%;
    width: 40%;
}

.portrait {
    position: absolute;
    bottom: 0;
    left: 2%;
    z-index: -1;
}

/*-------------------------------------------------END-DECORATION_SIDE-------------------------------------------------*/

/*------------------------------------------------------INFO_SIDE------------------------------------------------------*/

.info-side {
    height: 100%;
    width: 50%;
    min-width: 700px;

    color: white;
}

.page-title {
    position: relative;
        top: 20%;

    margin-bottom: 10%;
    padding-left: 25px;

    font-family: 'Ruda', sans-serif;
    font-size: 54px;
    font-weight: 400;
}

.tickets-block {
    position: relative;
        top: 17.5%;
    padding-left: 25px;
    block-size: border-box;

    align-items: flex-end;
    min-width: 700px;
    backdrop-filter: blur(10px);

}

.ticket-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10%;
    justify-items: end;
    min-width: 660px;


    margin-right: 50px;
    margin-bottom: 40px;
}

.ticket-block:last-child {
    margin-bottom: 0;
}

.city-title {
    justify-self: left;

    font-family: 'Rubik Mono One', sans-serif;
    font-size: 64px;
    font-weight: 400;
    letter-spacing: 1px;
}

.date {
    grid-column: 2;
    grid-row: 1;

    font-family: 'Ruda', sans-serif;
    font-size: 64px;
    font-weight: 400;
    letter-spacing: 1px;
}

.place-title {
    justify-self: left;
    align-self: end;

    font-family: 'Exo 2', sans-serif;
    font-size: 48px;
    font-weight: 300;
}

.purchase-button {
    width: 250px;
    height: 70px;
    text-shadow: none !important;
    background-color: white !important;
    color: black !important;
    border-radius: 9px !important;
    font-family: 'Rubik Mono One', sans-serif !important;
    font-size: 32px !important;
    cursor: pointer;


    outline: none;
    border: none;
}

/*----------------------------------------------------END-INFO_SIDE----------------------------------------------------*/

/*-------------------------------------------------------FOOTER-------------------------------------------------------*/

header {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;

    width: 100%;
}

.decoration {
    position: absolute;
        bottom: 0;
    display: flex;
        justify-content: center;
        align-items: flex-end;

    width: 100%;
}

.logo {
    margin-top: 25px;
}

.light {
    display: block;
    z-index: -1;
}

.left-light {
    width: 920px;
    height: 845px;

    background: radial-gradient(69.91% 92.41% at 13.31% 102.56%, #D21D10 0%, rgba(210, 29, 16, 0) 100%)
}

.right-light {
    width: 770px;
    height: 645px;

    background: radial-gradient(94.89% 70.36% at 95.88% 107.26%, #D21D10 0%, rgba(210, 29, 16, 0) 100%)
}

.decoration {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    z-index: -1;

    width: 100%;
}